.Q1 {
  border: 2px solid hotpink;
  border-radius: 12px;
  width: 18%;
  padding: 5px;  

}
.Q2 {
  border: 2px solid pink;
  border-radius: 12px;
  width: 18%;
  padding: 5px;  

}
.Q3 {
  border: 2px solid hotpink;
  border-radius: 12px;
  width: 18%;
  padding: 5px;  

}
.C2 {
  border: 2px solid pink;
  border-radius: 12px;
  width: 18%;
  padding: 5px;  

}
.C1 {
  border: 2px solid pink;
  border-radius: 12px;
  width: 18%;
  padding: 5px;  

}
